agmarknet/daily/*
agmarknet/html/*
agmarknet/monthly/*
agmarknet/raw_data/*
covid19/daily/*
covid19/monthly/*
covid19_vacc/daily/*
covid19_vacc/monthly/*
digital_payments/daily/*
digital_payments/monthly/*
digital_payments/raw_data/*
electricity/daily/*
electricity/monthly/*
electricity/raw_data/*
facebook_mobility/daily/*
facebook_mobility/monthly/*
facebook_mobility/raw_data/*
fertilizer_sales/daily/*
fertilizer_sales/monthly/*
fertilizer_sales/raw_data/*
fpi/monthly/*
fpi/raw_data/*
google_mobility/daily/*
google_mobility/monthly/*
mnrega_demand/monthly/*
mnrega_demand/raw_data/*
fertilizer_sales/data_historical.csv